<div class="filter-box">
    Filter: <input type="text" [(ngModel)]="filterValue" (ngModelChange)="onFilterChanged()" />
</div>
<mat-grid-list cols="1" rowHeight="50px">
    @for (country of selectedCountries; track country.code; let even = $even) {
        <mat-grid-tile class="country-row" [style.background]="even ? 'lightblue' : 'lightgray'" (click)="showWeather(country)">
            <div class="country-name">{{ country.name }}</div>
        </mat-grid-tile>
    }
</mat-grid-list>
<mat-paginator #paginator [length]="length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              (page)="handlePageEvent($event)"
              aria-label="Select page">
</mat-paginator>